@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

input[type='text'], input[type='file'], input[type='number']{
  @apply px-4 py-2 bg-gray-100 border rounded-lg w-full;
}
select{
  @apply px-4 py-2 bg-gray-100 border rounded-lg w-full;
}

.slider {
  -webkit-appearance: none;
  appearance: none;
  width: 80%;
  height: 8px;
  --tw-bg-opacity: .5;
  background-color: rgb(2 81 177 / var(--tw-bg-opacity));
  outline: none;
  border-radius: 20px;
}

.slider .thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  --tw-bg-opacity: 1;
  border: 2px solid rgb(2 81 177 / var(--tw-bg-opacity));
  background-color: #fff;
  cursor: pointer;
  border-radius: 50%;
  margin-top: -6px;
  box-shadow: 3px 2px 15px rgb(161, 161, 161);
}

::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #fff; 
  border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #b2b2b2; 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #9d9d9d; 
}

.slide-in{
  animation: slide .4s ease-in-out;
}

@keyframes slide {
  0%{
    right: -300px;
  }
  100%{
    right: 0px;
  }
}